ChikitoExpressAdm-master/ChikitoExpressAdm/Service References/ServiceReference/AdmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49590/AdmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChikitoExpressService" />
  <xs:element name="PostPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="pais" nillable="true" type="q1:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPaisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetClienteResult" nillable="true" type="q2:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="client" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="municipio" nillable="true" type="q4:Municipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMunicipioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PosProvencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="provencia" nillable="true" type="q5:Provencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosProvenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="zona" nillable="true" type="q6:Zona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="direccion" nillable="true" type="q7:Direccione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDireccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="persona" nillable="true" type="q8:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPersonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="rol" nillable="true" type="q9:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="user" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="userRol" nillable="true" type="q11:UsersRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostUserRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="adm" nillable="true" type="q12:Administradore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAdministradorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewAdm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewAdmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetViewAdmResult" nillable="true" type="q13:ViewAdministradore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvencias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetProvenciasResult" nillable="true" type="q14:ArrayOfProvencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetPaisesResult" nillable="true" type="q15:ArrayOfPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetAdmResult" nillable="true" type="q16:ArrayOfAdministradore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetPersonasResult" nillable="true" type="q17:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetUsersResult" nillable="true" type="q18:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetUsersRolesResult" nillable="true" type="q19:ArrayOfUsersRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetRolesResult" nillable="true" type="q20:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetZonasResult" nillable="true" type="q21:ArrayOfZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMunicipios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetMunicipiosResult" nillable="true" type="q22:ArrayOfMunicipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirecciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDireccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="GetDireccionesResult" nillable="true" type="q23:ArrayOfDireccione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetirarPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idpais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetirarPaisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPais" type="xs:int" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPaisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ChikitoExpressService" minOccurs="0" name="cliente" nillable="true" type="q24:Cliente" />
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>